@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240, 242, 243);
    font-family: 'Rubik', sans-serif;
}

li{
    list-style: none;
}

nav{
    background: rgb(192, 156, 249);
    height: 70px;
    display: flex;
    align-items: center;
}

nav li{
    display: inline-block;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-link, .home-page-blurb, .loginInput::placeholder, .dogNameInput::placeholder, .medicationInput::placeholder{
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.register-btn, .logout-btn{
    background-color: rgb(233, 51, 35);
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    color: white;
}

.logout-btn{
    background-color: rgb(104, 218, 150);
    color: black;
}

.header{
    padding-top: 3rem;
    background: rgb(192, 156, 249);
    height: 500px;
    border-bottom: 2px solid black;;
}

.header-image{
    display: flex;
    justify-content: center;
    height: 20rem;
    width: 20rem;
    margin: 0 auto;
}


.header-title-h1{
    font-size: 4rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;

}

.home-page-blurb{
    margin: 15% 10% 3% 10%;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    background-color: rgb(240, 242, 243);
}

.home-page-blurb p{
    margin: 0 auto;
    padding-top: 2rem;
    text-align: left;
    font-weight: 300;
}

.home-page-btn-container{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.sign-up-btn, .login-btn {
    border: 1px solid black;
    padding: 8px 13px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    background: white;
}

.sign-up-btn{
    margin-right: 1rem;
    background-color: rgb(233, 51, 35);
    color: white;
}

/* Form Styles */

.formContainer{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    background: rgb(103, 215, 151);
    background: linear-gradient(#C09CF9, #9198e5);
    height: 100vh;
    font-size: .8rem;
    text-align: center;
}

.loadingScreen{
    background: linear-gradient(#C09CF9, #9198e5);
    height: 100vh;
}

.loginForm, .registerForm, .enterDogForm, .enterMedicationForm{
    padding: 70px 40px;
    height: 400px;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(247, 209, 218);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 10%;
}

.loginForm, .registerForm{
    border: 2px solid black;
}


.loginHeading, .registerHeading{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.loginInput, .loginBtn, .registerInput, .registerBtn, .dogNameInput, .nextBtn, .medicationInput, .dateInput{
    height: 50px;
    margin: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}

.loginInput::placeholder, .registerInput::placeholder{
    text-indent: 20px;
    font-weight: 300;
    font-style: italic;
}

.loginInput[type="text"], .loginInput[type="password"], .registerInput[type="text"], .registerInput[type="password"]{
    text-indent: 20px;
}

.loginBtn, .registerBtn, .nextBtn{
    cursor: pointer;
    font-weight: 800;
    font-size: 1.3rem;
    background-color: rgb(189, 195, 247);
    color: white;
}

.loginBtn:hover, .nextBtn:hover{
    background-image: linear-gradient(62deg, #80b3e6 0%, #c5aadf 100%);
}

.registerRoute{
    font-weight: 300;
    font-size: 1rem;
    margin-top: 25%;
}

.registerRoute span{
    font-weight: 400;
    cursor: pointer;
}

/* Enter dog page and enter medication page from Dashboard */

.enterDogForm, .enterMedicationForm{
    height: 300px;
    width: 60%;
    text-align: left;
    background-color: rgb(104, 218, 150);
}

.enterDogForm p, .enterMedicationForm p{
    margin: 1rem 0px;
}


.dogNameInput::placeholder, .medicationInput::placeholder{
    text-indent: 20px;
    color: white;
}

.dogNameInput, .medicationInput, .dateInput{
    text-indent: 20px;
    background-color: #333333;
    border-radius: 5px;
    border-bottom: 4px solid white;
    color: white;
}

.dateInput{
    height: 50px;
    margin: 10px;
    text-indent: 10px;
    color-scheme: dark;
    padding-right: 10px
}

.enterMedicationForm{
    height: 500px;
    margin-bottom: 50px;
}

/* Loader */

.loadingScreen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

/* Loaded Dashboard */

.mainDashboardContainer{
    background: linear-gradient(#C09CF9, #9198e5);
}

.dashboardHeader{
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2rem;
}

.dashboardHeader h5{
    font-weight: 300;
    margin: 10% 0 1% 8%;
}

.dashboardHeader p{
    font-weight: 800;
    margin: 0 0 2% 8%;
}

.startTrackingBtn{
    width: 30%;
    margin: 0 0 1% 8%;
    height: 35px;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.startTrackingBtn:hover{
    background: rgb(46, 45, 45);
}

.dashboardMedicationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.medicationStatus{
    padding-bottom: 3%;
    margin-bottom: 2px;
}

.toggleHidden{
    display: none;
}

.medicationSummaryContainer{
    display: flex;
    align-items: center;
    padding: 5%;
    border-radius: 10px;
    width: 80%;
    background: white;
    margin: 0 auto;
    margin-bottom: 2%;
    box-shadow: 5px 5px 3px rgb(108, 107, 107);
}




.deleteBtn{
    align-self: flex-start;
    justify-self: flex-end;
    cursor: pointer;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.faIcon{
    display: inline-block;
    padding: 5%;
}

.medicationSummary{
    margin-left: 5%;
}

.addMedication{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 225px;
    background: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.dashHeader{
    text-align: center;
    margin: 3%;
    padding-top: 3%;
}



.seizureForm{
    display: flex;
    flex-direction: column;
    padding: 3%;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(104, 218, 150);
    border-radius: 5px;
    margin-bottom: 3%;
}

.addOneMed{
    display: flex;
    flex-direction: column;
}

.addOneMed input{
    height: 30px;
    margin: 1% 5%;
    border-bottom:  black;
}

.addOneMedBtn{
    height: 30px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(104, 218, 150);
    border: 1px solid black;
    font-family: 'Rubik';
}

.openSeizureFormBtn{
    cursor: pointer;
    color: black;
    background-color: white;
    width: 40%;
    height: 30px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
}

/* Table */

.table{
    width: 90%;
    border-collapse: collapse;
    font-size: 0.8em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

.tableContainer{
    padding-bottom: 3%;
}

table thead tr {
    background-color: rgb(104, 218, 150);
    color: #ffffff;
    text-align: left;
}

table td, table th {
    padding: 12px 15px;
}

td{
    background: white;
}


/* Media Queries for homepage, login, and registration pages */
@media all and (min-width: 600px){
  .loginForm, .registerForm, .enterDogForm, .enterMedicationForm{
      height: 450px;
      width: 55%;
      margin-top: 10%;
  }
}

@media all and (min-width: 700px){
    .header-image{
        height: 30rem;
        width: 30rem;
    }
    .home-page-blurb{
        margin: 10% 10% 3% 10%;
        text-align: center;
        padding-bottom: 2rem;
        font-size: 1.2rem;
        background-color: rgb(240, 242, 243);
    }
    .loginForm, .registerForm, .enterDogForm, .enterMedicationForm{
        height: 425px;
        width: 40%;
        margin-top: 0;
    }
}

@media all and (min-width: 1000px){
    .loginForm, .registerForm, .enterDogForm, .enterMedicationForm{
        height: 425px;
        width: 35%;
        margin-top: 0;
    }
    .formContainer{
        padding-top: 3%;
    }
}

@media all and (min-width: 1250px){
    .home-page-blurb{
        margin: 0 auto;
        margin-top: 10%;
        width: 60%;
    }
    .home-page-blurb{
        margin: 0 auto;
        margin-top: 10%;
        text-align: center;
        padding-bottom: 2rem;
        font-size: 1.2rem;
        background-color: rgb(240, 242, 243);
    }
    
    .home-page-btn-container{
        margin: 0 auto;
        padding-bottom: 100px;
        display: flex;
        justify-content: flex-start;
        width: 60%;
    }
    .loginForm, .registerForm, .enterDogForm, .enterMedicationForm{
        height: 400px;
        width: 30%;
        margin-top: 0;
    }
}

/* Media queries for dashboard */

@media all and (min-width: 475px){
    .dashboardHeader h5{
        font-weight: 300;
        margin: 5% 0 1% 8%;
    }
    .dashboardHeader p{
        font-weight: 800;
        margin: 0 0 2% 8%;
    }
    .deleteBtn{
        flex-grow: 1;
    }
    table{
        width: 86%;
    }
}

@media all and (min-width: 550px){
    .medicationSummary h3{
        font-size: 1.5rem;
    }
    .medicationSummary h5{
        font-size: 1rem;
    }
    .dashHeader{
        margin-top: 0;
    }
    .medicationStatus{
        height: inherit;
        padding-bottom: 3%;
    }
    .addMedication{
        height: 200px;
    }
    .medicationSummaryContainer{
        height: 80px;
        padding: 30px;
    }
    .seizureForm{
        margin-top: 3%;
        width: 50%;
        margin-bottom: 3%;
    }
    table{
        width: 56%;
    }
}

@media all and (min-width: 1000px){
    .medicationStatus{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* height: inherit; */
    }
    .toggleHidden{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50%;
        object-fit: cover;
        height: inherit;
    }
   .toggleHidden img{
        /* height: 250px; */
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
   }
    .toggleHiddenContainer{
        display: flex;
    }
    .dashboardHeader h5{
        font-weight: 300;
        font-size: 3rem;
        margin: 5% 0 1% 4%;
    }
    .dashboardHeader p{
        font-weight: 800;
        font-size: 3rem;
        margin: 0 0 2% 4%;
    }
    .startTrackingBtn{
        width: 30%;
        margin: 0 0 1% 4%;
    }
    .addMedication{
        background: rgb(165, 154, 234);
        margin: auto 0;
        border: none;

    }.seizureLogContainer, .tableContainer{
        background: rgb(245, 242, 242);
    }
    .seizureLogContainer{
        padding-bottom: 1%;
    }
    .openSeizureFormBtn{
        margin-bottom: 0;
    }
    .tableContainer{
        padding-top: 3%;
    }
    table{
        margin: 0;
        border: 1px solid black;
    }
    .extraMedStyles{
        height: 20px;
    }
    .extraMedStyles h3{
        font-size: 1rem;
    }
    .extraMedStyles h5{
        font-size: .8rem;
    }
    .flexBoxMedicationContainer{
        display: flex;
        flex-wrap: wrap;
    }
    
    .flexBoxMedicationContainer > section {
        padding-left: 3%;
        padding-right: 3%;
        width: 35%;
    }
    .flexBoxMedicationContainer h3{
        font-size: 0.9rem;
    }
    .flexBoxMedicationContainer h5{
        font-size: 0.7rem;
    }
    .faIcon{
        font-size: 0.6rem;
        padding: 1px;
    }
    .seizureForm{
        margin-top: 3%;
        width: 50%;
        margin-bottom: 0;
    }
    table{
        width: 56%;
    }
}

.mobileAuthNav{
    display: none;
}

/* Navbars */

@media(max-width: 600px){
    .mobileAuthNav{
        display: flex;
        width: 100%;
        position: sticky;
        top: 0;
    }
    .navBar{
        display: none;
    }
    .hamburger{
        position: absolute;
        right: 5%;
        color: black;
        font-weight: 200;
    }
    .mobileUnorderedList{
        border-top: 2px solid white;
        background: rgb(192, 156, 249);
        background-color: white;
        position: absolute;
        left: 0;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3% 0;
        font-size: 1.5rem;
        transition: 0.3ms;
    }
    .mobileUnorderedList li{
        padding: 10px 0;
    }
}